::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #909090;
}
.overlay {
  position: absolute;
  width: 1000px;
  height: 1000px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
main {
  display: flex;
  top: 51px;
  position: relative;
}
main.active .body_sidebar {
  display: none;
}
main.active .body__sidebar2 {
  display: block;
}
main.active .body__container {
  padding: 0;
}
.body__container {
  position: relative;
  width: 100%;
  padding-left: 25px;
}
.body_sidebar {
  padding: 12px 10px 12px 0;
  position: relative;
  height: 100%;
  width: 244px;
  /* display: none; */
}
/* sidebar 2 */
.body__sidebar2 {
  position: relative;
  height: 100%;
  width: 70px;
  padding-top: 12px;
  display: none;
}
.category__list-item2 .category__list-item2-content {
  font-size: 0.7rem;
  padding: 10px 0;
}
.category__list-item2 i {
  font-size: 1.1rem;
}
.category__list-item2:hover {
  background-color: #f2f2f2;
}
.category__list-item2 {
  list-style: none;
  padding: 11px 0;
  color: #030303;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* end sidebar2*/
/* mo rong sidebar */
.body__category {
  position: fixed;
  width: 230px;
  height: 90%;
  overflow-y: hidden;
  padding-right: 4px;
}
.body__category:hover {
  overflow-y: scroll;
  width: 238px;
}
.category__login {
  border-top: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.category__option {
  border-top: 1px solid #f0f0f0;
  margin-top: 10px;
}
.category__option h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #636463;
  margin-left: 24px;
  padding: 12px 0 8px;
}
.category__login p {
  padding: 10px 20px;
  font-size: 0.9rem;
  color: #030303;
}
.category__brower {
  margin-top: 10px;
  border-top: 1px solid #f0f0f0;
  width: 100%;
  height: 50px;
  padding: 10px 0px;
}
.category__login a {
  font-size: 0.9rem;
  outline: none;
  text-decoration: none;
  padding: 4px 15px;
  border: 1px solid #2573d9;
  color: #2573d9;
  display: flex;
  align-items: center;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: 500;
}
.category__login a i {
  font-size: 1.3rem;
  padding: 4px 5px;
  margin-right: 5px;
}
.category__homePage {
  margin-bottom: 12px;
}
.category__list-item {
  list-style: none;
  padding: 11px 0;
  color: #030303;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.category__list-item:hover {
  background-color: #f2f2f2;
}
.category__list-item.active {
  background-color: #e5e5e5;
  color: #031119;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}
.category__list-item span {
  font-size: 0.9rem;
}
.category__list-item i,
.category__list-item .material-icons-item {
  font-size: 1.2rem;
  opacity: 0.9;
  margin-right: 24px;
  margin-left: 20px;
}
.category__video {
  padding-top: 12px;
  border-top: 1px solid #ececec;
}
.category__video.active {
  display: none;
}
.body__product-container {
  padding-top: 5px;
  padding-left: 10px;
  position: relative;
  width: 100%;
}
.product__hint {
  height: 56px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #ffffff;
  padding-left: 10px;
}
.product__hint-list {
  display: flex;
  align-items: center;
}
.product__hint-list-item {
  list-style: none;
  color: #030303;
  font-size: 0.9rem;
  padding: 8px 12px;
  margin: 12px 12px 12px 0;
  border-radius: 16px;
  outline: none;
  background-color: #e5e5e5;
  cursor: pointer;
}
.product__hint-list-item.active {
  background-color: #030303;
  color: #ffffff;
}

.product__list {
  position: absolute;
  top: 65px;
  width: 98%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  object-fit: cover;
  padding: 0 15px;
  box-sizing: border-box;
}
.product__list-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 300px;
  position: relative;
  cursor: pointer;
}
.product__list-item-img {
  width: 100%;
  object-fit: cover;
  height: 200px;
  flex: 0 0 50%;
}
.product__list-item time {
  position: absolute;
  bottom: 47%;
  right: 10px;
  color: #ffffff;
  background-color: #030303;
  font-size: 0.8rem;
}
.product__item-content {
  display: flex;
  justify-content: baseline;
  padding-top: 10px;
}
.product__cart-content {
  padding-left: 10px;
  height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.product__item-content-userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.product__cart-content-t {
  display: flex;
  justify-content: space-between;
}
.product__cart-content-t i {
  padding: 3px 2px 0 10px;
  font-size: 1rem;
}
.product__cart-content-title {
  font-size: 0.9rem;
  padding-bottom: 5px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-height: 1.6rem;
  max-width: 90%;
}
.product__cart-view,
.product__cart-blogName {
  font-size: 0.8 rem;
  padding: 5px 0;
  color: #636463;
}

footer {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer p {
  font-size: 0.9rem;
  padding: 10px 0;
  color: #636463;
}
