/* ipad pro */
@media screen and (max-width: 1366px) and (min-width: 1024px) {
  .head__user-video i,
  .head__user-app i,
  .head__user-info i {
    margin: 0 5px;
  }
  .body_sidebar {
    display: none;
  }
  .body__sidebar2 {
    display: block;
  }
  .head__search {
    width: 600px;
  }
  main.active .body_sidebar {
    display: none;
  }
  main.active .body__sidebar2 {
    display: block;
  }
  main.active .body__container {
    padding: 0;
  }
}

@media screen and (max-width: 1023px) and (min-width: 800px) {
  .head__container {
    justify-content: space-around;
  }
  .head__user-video i,
  .head__user-app i,
  .head__user-info i {
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* head__search */
  .head__search {
    width: 400px;
  }
  .body_sidebar {
    display: none;
  }
  .body__sidebar2 {
    display: block;
  }
  main.active .body_sidebar {
    display: none;
  }
  main.active .body__sidebar2 {
    display: block;
  }
  main.active .body__container {
    padding: 0;
  }
}
/* mobile */
@media screen and (max-width: 799px) {
  .body__container.active {
    left: 20px;
  }
  .head__search {
    max-width: 16.6667%;
    flex: 0 0 16.6667%;
    margin-left: 60px;
  }
  .head__search-input {
    display: none;
  }
  .head__search-icon {
    border: none;
  }
  .head__logo {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
  }

  .head__user {
    max-width: 50%;
    flex: 0 0 50%;
  }
  .body_sidebar {
    display: none;
  }
  .body__sidebar2 {
    display: none;
  }
  main.active .body_sidebar {
    display: none;
  }
  main.active .body__sidebar2 {
    display: none;
  }
  main.active .body__container {
    padding: 0;
  }
}
