.body__container {
    display: flex;
    position: relative;
    top: 51px;
}
.body__category {
    padding: 12px 10px 12px 0;
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}
.category__homePage{
    margin-bottom: 12px;

}
.category__list-item {
    list-style: none;
    padding: 11px 0;
    color: #030303;
    cursor: pointer;
    transition: all .25 linear;
}
.category__list-item:hover{
    background-color: #f2f2f2;
}
.category__list-item.active{
    background-color: #e5e5e5;
    color: #031119;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}
.category__list-item span {
    font-size: 1rem;
}
.category__list-item i {
    font-size: 1.2rem;
    color:#030303;
    opacity: 0.9;
    margin-right: 24px;
    margin-left: 20px;
}
.category__video{
    padding-top: 12px;
    border-top: 1px solid #ececec;
}

/* Product */
.body__product {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}
.body__product-container{
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
}
.product__hint{
    height: 56px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: #ffffff;
}
.product__hint-list{
    display: flex;
    align-items: center;
}
.product__hint-list-item {
    list-style: none;
    color: #030303;
    font-size: 0.9rem;
    padding: 5px 12px;
    margin: 12px 12px 12px 0;
    border-radius: 16px;
    outline: none;
    background-color: #e5e5e5;
    cursor: pointer;
}
.product__hint-list-item.active{
    background-color: #030303;
    color: #ffffff;
}

.product__list {
    position: relative;
    top: 65px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
    width: 100%;
}
.product__cart {
    max-width: 25%;
    height: 260px;
    background-color: #ffffff;
    flex: 0 0 25%;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 16px;
}
.product__cart-image{
    width: 100%;
    height: 165px;
    position: relative;
}
.product__cart-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.product__cart-image span{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #030303;
    color: #f2f2f2;
    font-size: 0.8rem;
    padding: 2px 3px;
    border-radius: 2px;
}
.product__cart-content{
    display: flex;
    width: 100%;
    margin-top: 10px;
    height: 94px;
}
.product__cart-content-userImage{
    max-width: 0 0 16.6667%;
    flex: 0 0 16.6667%;
    height: 36px;
}
.product__cart-content-userImage img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.product__cart-content-title {
    width:83.3333%;
    flex: 0 0 83.3333%;
    display: flex;
    flex-direction: column;
}
.product__cart-content-title-icon {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.product__cart-content-title-icon h3{
    font-size: 0.95rem;
    color : #030303;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
}
.product__cart-content-title-icon i {
    font-size: 0.9rem;
    padding-left: 10px;
}
.product__cart-blogName{
    padding: 2px 0;
}
.product__cart-blogName span,
.product__cart-view span
{
    font-size: 0.8rem;
    color: #606060;
}
.product__cart-view {
    display: flex;
    padding: 2px 0;
}